{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "react"
  ],
  "comments": true,
  "plugins": [
    "react-css-modules",
    "syntax-dynamic-import",
    "transform-inline-environment-variables",
    "dynamic-import-node",
    "transform-object-rest-spread",
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]___[name]__[local]___[hash:base64:5]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ],
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
