
$aquamarine: #90ffe9;
$catskill: #f0f2f7;
$cello: #223464;
$dodger: #445cff;
$mine-shaft: #2e2e2e;
$mischka: #d1d4da;
$periwinkle: #d4daff;
$persian-blue: #142ed9;
$spray: #7cf0d9;
$whisper: #fbfbfd;
$white: #ffffff;
$zodiac: #132659;
$blue-ribbon: #1f61ff;
