:global {
  $colStart: col-start-;
  $colEnd: col-end-;
  $row: row-;
  $rowStart: row-start-;
  $rowEnd: row-end-;

  .grid {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: repeat(10, minmax(1rem, 1fr));
    grid-column-gap: 0.5rem;

    @include lg {
      grid-template-columns: repeat(20, 1fr);
      grid-column-gap: 1rem;
    }
  }

  @for $i from 1 through 20 {
    // for each $col-#{i}
    .#{$colStart}#{$i} {
      grid-column-start: $i;
    }
  }

  @for $i from 1 through 20 {
    // for each $col-#{i}
    .#{$colEnd}#{$i} {
      grid-column-end: $i;
    }
  }

  @for $i from 1 through 20 {
    // for each $col-#{i}
    .#{$row}#{$i} {
      grid-row: $i;
    }
  }

  @for $i from 1 through 20 {
    // for each $col-#{i}
    .#{$rowStart}#{$i} {
      grid-row-start: $i;
    }
  }

  @for $i from 1 through 20 {
    // for each $col-#{i}
    .#{$rowEnd}#{$i} {
      grid-row-end: $i;
    }
  }
}
